.radio {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    cursor: pointer;
    accent-color: #000000;
    margin-right: 13px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
}

.options {
    display: block;

}
