.sendForm {
    display: flex;
    margin: 56px 0 32px 0;
}

.textarea {
    display: block;
    font: inherit;
    min-height: 40px;
    width: 100%;
    resize:none;
    border-radius: 20px;
    background-color: #F5F7FB;
    appearance: none;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 9px;
    padding-left: 24px;
}

.button {
    display: block;
    margin-left: 44px;
    width: 120px;
    height: 40px;
    background: linear-gradient(to left, #FF0080, #0077ff, #0066cc );
    background-size: 700%;
    border-radius: 20px;
    transition: .5s;
    text-decoration: none;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover {
    background-position: right;
    color: #fff;
}
.button:active {
    background-color: #26F0F1;
}